<html>
	<head>
		<title>TimeFiddle</title>
		<script type="text/javascript" src="../views/head-tag.js"></script>
	</head>
	<body>
		<div class="main-wrapper">
			<div id="header">
				
			</div>
		</div>
		<div class="content">

			<h1 class="center no-margin">
				<text>Welcome to</text> <strong>TimeFiddle</strong>
			</h1>
			<h2 class="center no-margin">
				<text>We are currently under construction...</text>
				<text>...come back later for some rad functionality</text>
			</h2>

		</div>
		<div id="footer" class="center main-wrapper">
			
		</div>
	</body>
</html>