<html ng-app>
	<head>
		<title>TimeFiddle</title>
		<script type="text/javascript" src="../views/head-tag.js"></script>
	</head>
	<body>
		<div class="main-wrapper">
			<div id="header">
				<script type="text/javascript" src="../views/header.js"></script>
				<script type="text/javascript" src="../javascripts/dashboard.js"></script>
			</div>
		</div>
		<div class="content" ng-controller="DashboardCtrl">

			<h1 class="center no-margin">
				<text>Dashboard</text>
			</h1>

			<div class="dashboard-content">

				<div class="header">
					<div class="account">
						<p class="no-margin">Welcome, Sean Hill <a href="/logout">logout</a></p>
					</div>
				</div>
				<div class="left-bar clear">

				</div>
				<div class="middle-section">
					<div class="event-list">

						<h3>Your Events</h3>
						<br />
						<div id="event{{event.eventID}}" class="event" ng-click="eventIsActive(event)" ng-repeat="event in events">
							<table>
								<tbody>
									<tr>
										<td class="info-left"><h4 class="no-margin">{{event.name}}</h4></td>
										<td class="info-right"><p class="no-margin date">{{event.dateCreated}}</p></td>
									</tr>
									<tr class="info-right">
										<td class="info-left"><p class="no-margin">{{event.attendees}} attendees</p></td>
										<td class="info-right"><p class="no-margin">{{event.responses}}/{{event.attendees}}</p></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="right-section">
					<div class="main-info">

						<h3>{{currentEvent.name}}</h3>
						<br />

						<p class="event-description">
							{{currentEvent.description}}
						</p>

						<div class="response center">
							<h3>You have not selected a time yet</h3>
						</div>

						<h4>Attendees ({{currentEvent.attendees}})</h4>
						<table class="attendees">
							<tr>
								<td><p>Adam Sandler</p></td>
								<td>voted 1/22</td>
							</tr>
							<tr>
								<td><p>Ben Kweller</p></td>
								<td>voted 2/1</td>
							</tr>
							<tr>
								<td><p>seanyboy@gmail.com</p></td>
								<td></td>
							</tr>
							<tr>
								<td><p>Cameron Joe</p></td>
								<td>voted 12/2</td>
							</tr>
						</table>

						<h4>Availability</h4>
						<br />
						<p>The availabilty section</p>

					</div>
				</div>
				
			</div>

		</div>
		<div id="footer" class="center main-wrapper">
			<script type="text/javascript" src="../views/footer.js"></script>
		</div>
	</body>
</html>