<html ng-app>
	<head>
		<title>Dashboard</title>
		<script type="text/javascript" src="../views/head-tag.js"></script>
		<script type="text/javascript" src="../javascripts/dashboard.js"></script>
	</head>
	<body>
		<div class="content" ng-controller="DashboardCtrl">

			<div class="dashboard-content">

				<div class="header">
					<div class="account">
						<p class="no-margin">Welcome, Sean Hill <a href="/api/user/logout">logout</a></p>
					</div>
				</div>
				<div class="left-bar clear">
					<div class="sub-tab">1</div>
					<div class="sub-tab">2</div>
					<div class="sub-tab">3</div>
				</div>
				<div id="dashboard-main">
					<div class="middle-section">
						<div class="event-list">

							<h3>Your Events</h3>
							<br />
							<div id="event{{event.eventID}}" class="event" ng-click="eventIsActive(event)" ng-repeat="event in events">
								<table>
									<tbody>
										<tr>
											<td class="info-left"><h4 class="no-margin">{{event.name}}</h4></td>
											<td class="info-right"><p class="no-margin date">{{event.dateCreated}}</p></td>
										</tr>
										<tr class="info-right">
											<td class="info-left"><p class="no-margin">{{event.attendees}} attendees</p></td>
											<td class="info-right"><p class="no-margin">{{event.responses}}/{{event.attendees}}</p></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="right-section">
						<div class="header">

							<h3>{{currentEvent.name}}</h3>
							<br />

							<p class="event-description">
								{{currentEvent.description}}
							</p>

							<div class="response center">
								<h3>You have not selected a time yet</h3>
							</div>

						</div>

						<div class="d-navbar">
							Navbar Images
						</div>
					</div>
				</div>
				
			</div>

		</div>
		<div id="footer" class="center main-wrapper">
			<script type="text/javascript" src="../views/footer.js"></script>
		</div>
	</body>
</html>