<html>
	<head>
		<title>TimeFiddle</title>
		<script type="text/javascript" src="../views/head-tag.js"></script>
	</head>
	<body>
		<div class="main-wrapper">
			<div id="header">
				<script type="text/javascript" src="../views/header.js"></script>
				<script type="text/javascript" src="../javascripts/dashboard.js"></script>
			</div>
		</div>
		<div class="content">

			<h1 class="center no-margin">
				<text>Dashboard</text>
			</h1>

			<div class="dashboard-content">

				<div class="header">
					<div class="account">
						<p class="no-margin">Welcome, Sean Hill <a href="/logout">logout</a></p>
					</div>
				</div>
				<div class="left-bar clear">

				</div>
				<div class="middle-section">
					<div class="event-list">

						<h3>Your Events</h3>
						<br />
						<div class="event active" onclick="eventIsActive(this)">
							<table>
								<tbody>
									<tr>
										<td class="info-left"><h4 class="no-margin">Birthday Party</h4></td>
										<td class="info-right"><p class="no-margin date">Wed Feb 20th</p></td>
									</tr>
									<tr class="info-right">
										<td class="info-left"><p class="no-margin">12 attendees</p></td>
										<td class="info-right"><p class="no-margin">6/8</p></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="event" onclick="eventIsActive(this)">
							<table>
								<tbody>
									<tr>
										<td class="info-left"><h4 class="no-margin">TimeFiddle Meeting</h4></td>
										<td class="info-right"><p class="no-margin date">Thu Feb 28th</p></td>
									</tr>
									<tr class="info-right">
										<td class="info-left"><p class="no-margin">6 attendees</p></td>
										<td class="info-right"><p class="no-margin">3/6</p></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="event" onclick="eventIsActive(this)">
							<table>
								<tbody>
									<tr>
										<td class="info-left"><h4 class="no-margin">Date Night</h4></td>
										<td class="info-right"><p class="no-margin date">Sat Mar 1st</p></td>
									</tr>
									<tr class="info-right">
										<td class="info-left"><p class="no-margin">2 attendees</p></td>
										<td class="info-right"><p class="no-margin">2/2</p></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="right-section">
				</div>
				
			</div>

		</div>
		<div id="footer" class="center main-wrapper">
			<script type="text/javascript" src="../views/footer.js"></script>
		</div>
	</body>
</html>